@model WebDevProject.Models.BaseViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Importing roboto font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- Below is links for our stylesheet and javascript. -->
    <link rel="stylesheet" href="~/css/stylesheet.css">


    <!-- This is the header stuff.-->

    <div class="row">

        <!-- Left section of the header.  Contains student's picture, name, and logout button.  Uses 2 of 12 of the grid spaces. -->

        <div class="topPane col-2" style="padding-left: 20px;">
            <img src="https://i.imgur.com/VZYACsw.png" width="30px" style="float: left; padding-top: 5px;" />
            <div id="username" class="text-left" style="padding-left: 40px;">@ViewBag.userId</div>
            <div class="logout" style="padding-left: 40px; padding-bottom: 10px;"><a href="#logout" style=" color: white">Logout</a></div>
        </div>

        <!-- Center section of the header.  Contains progress bar and the resume button. Uses 8 of the 12 grid spaces. -->

        <div class="topPane col-8">

            <!-- PROGRESS BAR NOT YET INTEGRATED -->
            <div class="progress" style="width: 50%">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100"
                     aria-valuemin="0" aria-valuemax="100" style="width:@(Model.student.questionsCompleted / Model.student.numberOfQuestions * 100)%">
                    @(Model.student.questionsCompleted / Model.student.numberOfQuestions * 100)%
                </div>
            </div>

            <button class="btn" style="float: right">RESUME</button>

        </div>

        <!-- Right section of the header.  Contains UAA logo/button to return to the home site. Uses 2 of the 12 grid spaces. -->

        <div class="topPane col-2" style="padding-left: 55px; padding-top: 3px;">
            <a href="@Url.Action("Index", "Home")"><img src="https://i.imgur.com/jdEsxjf.png" width="150px" /></a>
        </div>

    </div>

</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="~/js/HomeTestScript.js" type="text/javascript"></script>
</body>
</html>
