@model WebDevProject.Models.CodeQuestionViewModel
<html lang="en">
<head>
    <title>CodeMirror in Action</title>

    <script src="js/vendor/jquery-1.9.1.js"></script>

    <!-- More examples at http://codemirror.net/demo/ -->
    <!-- add basic CodeMirror functionality -->
    <script src="~/lib/CodeMirror/lib/codemirror.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/lib/CodeMirror/addon/selection/active-line.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="~/lib/CodeMirror/lib/codemirror.css" />

    <!-- add python-mode dependencies -->
    <script src="~/lib/CodeMirror/mode/python/python.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
    <div class="container mainBody">
        <div class="row">
            <div class="col-2 scrollable-menu questionPane">
                @if (Model.theQuestion.lectureText != "")
                {
                    <textarea id="textEditortest">@Model.theQuestion.lectureText</textarea>
                }
                <div class="scrollable-menu leftPane listPane">
                    @foreach (var item in Model.questionList)
                    {
                        @if (item.isMultipleChoice)
                        {
                            <a href="/Home/MultipleChoiceView/@item.Id/@item.TopicId">Question @item.questionOrder</a>
                            <br />
                        }
                        else
                        {
                            <a href="/Home/CodeQuestionView/@item.Id/@item.TopicId">Question @item.questionOrder</a>
                            <br />
                        }
                    }
                </div>
            </div>
            <div class="jumbotron col-8 scrollable-menu">
        
                <h3>@Html.DisplayFor(model => model.theQuestion.questionString)</h3>
                <br />
                <div id="editor1-pane">
                    <div id="editor1"></div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-success compileButton" style="float:left">Compile</button>
                        <button type="button" class="btn btn-success submitButton">Submit</button>
                        @{ bool isEndOfList = false;}
                        @if (Model.theQuestion.questionOrder < Model.orderListLength)
                        {
                             isEndOfList = false;
                            <button type="button" class="btn btn-success" id="nextButton">Next</button>
                        }
                        else
                        {
                            isEndOfList = true;
                            <button type="button" class="btn btn-success" id="finishButton">Finish</button>
                        }
                    </div>
                </div>
                <div>
                    <h3>Output:</h3>
                    <br />
                    <div id="editor-2 pane">
                        <div id="editor2"></div>
                    </div>
                </div>
            </div>
            <div class="col-2 listPane scrollable-menu referencePane">
                <div>
                        @foreach (var item in Model.referenceList)
                        {
                            <a href="@item.Link">@item.Text</a>
                            <br />
                        }
                </div>
            </div>
        </div>
    </div>
   @{ string nextURL = "";}
@{
    if (!isEndOfList)
    {
        if (Model.questionList[Model.theQuestion.questionOrder + 1].isMultipleChoice)
        {
            nextURL = "/Home/MultipleChoiceView/" + Model.questionList[Model.theQuestion.questionOrder + 1].Id + "/" + Model.theQuestion.TopicId;
        }
        else
        {
            nextURL = "/Home/CodeQuestionView/" + Model.questionList[Model.theQuestion.questionOrder + 1].Id + "/" + Model.theQuestion.TopicId;
        }
    }
}
    @{ string finishURL = "/Home/TopicView/" + Model.theQuestion.TopicId;}
    @{ var suppliedCode = Html.DisplayFor(model => model.theQuestion.suppliedCode);}

    <script type="text/javascript">
        $(document).ready(function () {
            window.codemirror1 = CodeMirror($('#editor1').get(0), {
                value: "@suppliedCode",
                mode:  "python",
                readOnly: false,
                styleActiveLine: true,
                lineNumbers: true,
           });

            window.codemirror2 = CodeMirror($('#editor2').get(0), {
                value: "Output",
                mode: "python",
                readOnly: true,
                styleActiveLine: true,
                lineNumbers: true,
                });

            $("#finishButton").click(function () {
                window.location.href = "@finishURL";
            });

            $("#nextButton").click(function () {
                window.location.href = "@nextURL";
            });
        });
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="~/lib/simplemde/dist/simplemde.min.js" type="text/javascript"></script>
    <script>
        const lectureArea = new SimpleMDE({
            element: document.getElementById("textEditortest"),
            spellChecker: false,
            toolbar: false,
            status: false,
        });
        lectureArea.togglePreview()
    </script>
</body>
</html>