@model WebDevProject.Models.IndexViewModel

<div class="container-fluid mainBody">

    <!-- Main display area. -->

    <div class="row">

        <!-- The leftpane holds the list/buttons. The col-4 defines it as 4 panels wide in bootstrap, the scrollable-menu lets the CSS define it as a scrolling element, and the leftPane lets the CSS customize it specifically. -->
        <div class="col-3 scrollable-menu leftPane listPane">
            <div>
                <!--  Right now all the list items are just text, but we should be able to replace them with the button things. -->
                <ul>
                    @foreach (var item in Model.Modules)
                    {
                        <li><a href="/Home/ModuleView/@item.Id"><button class="text-left col-md-10">@item.moduleTitle</button></a><button id="middleTest">---></button></li>
                    }
                </ul>
            </div>
        </div>

<!-- Middle menu and pane. -->
                
                <div class="col-3 scrollable-menu expandableMiddlePane listPane">
                    <div>
                        <ul>
                            <li><button class="text-left col-md-10">Topic 1</button>
                                <button id="rightTest">---></button></li>
                            <li><button class="btn-block text-left">Topic 2</button></li>
                            <li><button class="btn-block text-left">3. Example</button></li>
                            <li><button class="btn-block text-left">4. Example</button></li>
                            <li><button class="btn-block text-left">Example</button></li>
                            <li><button class="btn-block text-left">Example</button></li>
                            <li><button class="btn-block text-left">Example</button></li>
                        </ul>
                    </div>
                </div>

        <!-- Right menu and pane. -->

        <div class="col-3 scrollable-menu expandableRightPane listPane">
            <div>
                <ul>
                    <li><button class="btn-block text-left">Question 1</button></li>
                    <li><button class="btn-block text-left">Question 2</button></li>
                    <li><button id="resetTest" class="btn-block text-left">RESET PANELS</button></li>
                </ul>
            </div>
        </div>

        <!-- The rightPane holds all instructor material. Later it can also be covered up by expanding lists, which I haven't made. col-8 defines it as 8 pandels wide in bootstrap, scrollable-menu let's CSS apply scrolling to it, and rightPane allows CSS to customize it specifically. -->
        <div class="col-9 scrollable-menu rightPane" style="padding-top: 20px">

            <!-- This place can be filled with teacher supplied text. We should probably still sanitize this input somehow. -->

                <h1>@Html.DisplayFor(model => model.theIndex.indexTitle)</h1>


            @{ string youtubeURL = Model.theIndex.youtubeURL;}
            @{ string MP4Link = Model.theIndex.MP4Link;}


            <div class="row" style="padding-left: 20px">
                @if (youtubeURL != "" && youtubeURL != "NULL" && youtubeURL != null)
                {
                    if (MP4Link != "" && MP4Link != "NULL" && MP4Link != null)
                    {
                        <div class="col-xs-6 YoutubeVideo smallVid">
                            <iframe src="@youtubeURL" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="col-xs-6 UploadVideo smallVid">
                            <video controls>
                                <source src="~/mp4/@MP4Link" type="video/mp4">
                                <!--<source src="Video.ogg" type="video/ogg">-->
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-12 YoutubeVideo wideVid">
                            <iframe src="@youtubeURL" frameborder="0" allowfullscreen></iframe>
                        </div>
                    }
                }
                else
                {
                    if (MP4Link != "" && MP4Link != "NULL" && MP4Link != null)
                    {
                        <div class="col-xs-12 UploadVideo wideVid">
                            <video controls>
                                <source src="~/mp4/@MP4Link" type="video/mp4">
                                <!--<source src="Video.ogg" type="video/ogg">-->
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    }
                }
            </div>

            <p>@Html.DisplayFor(model => model.theIndex.lectureText)</p>

        </div>
    </div>
</div>