@model WebDevProject.Models.IndexViewModel
  
<!-- This container div holds the whole page. -->
    <div class="container mainBody">
        <!-- The row div holds the left and right pane, which is a majority of the page. -->
        <div class="row">

            <!-- The leftpane holds the list/buttons. The col-4 defines it as 4 panels wide in bootstrap, the scrollable-menu lets the CSS define it as a scrolling element, and the leftPane lets the CSS customize it specifically. -->
            <div class="col-4 scrollable-menu leftPane listPane">
                <div>
                    <!--  Right now all the list items are just text, but we should be able to replace them with the button things. -->
                    <ul>
                        @foreach (var item in Model.Modules)
                        {
                            <li><a href="/Home/ModuleView/@item.Id">@item.moduleTitle</a><button id="middleTest" style="color:black">-></button></li>
                        }
                    </ul>
                </div>
            </div>

            <div class="col-4 scrollable-menu expandableMiddlePane listPane">
                <div>
                    <!--  Right now all the list items are just text, but we should be able to replace them with the button things. -->
                    <ul>
                        <li><button id="rightTest" style="color:black">Topic Name 1</button></li>
                        <li><button id="rightTest" style="color:black">Topic Name 2</button></li>
                        <li><button id="rightTest" style="color:black">Topic Name 3</button></li>
                        <li><button id="rightTest" style="color:black">Topic Name 4</button></li>
                    </ul>
                </div>
            </div>

            <div class="col-4 scrollable-menu expandableRightPane listPane">
                <div>
                    <!--  Right now all the list items are just text, but we should be able to replace them with the button things. -->
                    <ul>
                        <li><button id="resetTest" style="color:black">Reset Panels</button></li>
                        <li><button id="resetTest" style="color:black">Reset Panels</button></li>
                        <li><button id="resetTest" style="color:black">Reset Panels</button></li>
                    </ul>
                </div>
            </div>

            <!-- The rightPane holds all instructor material. Later it can also be covered up by expanding lists, which I haven't made. col-8 defines it as 8 pandels wide in bootstrap, scrollable-menu let's CSS apply scrolling to it, and rightPane allows CSS to customize it specifically. -->
            <div class="col-8 scrollable-menu rightPane">

                <!-- This place can be filled with teacher supplied text. We should probably still sanitize this input somehow. -->
                <div class="jumbotron">
                    <h1>@Html.DisplayFor(model => model.theIndex.indexTitle)</h1>
                    <p>@Html.DisplayFor(model => model.theIndex.lectureText)</p>
                </div>
               @{ string youtubeURL = Model.theIndex.youtubeURL;}
               @{ string MP4Link = Model.theIndex.MP4Link;}

                <div class="row">
                    @if (youtubeURL != "" && youtubeURL != "NULL" && youtubeURL != null)
                    {
                        if (MP4Link != "" && MP4Link != "NULL" && MP4Link != null)
                        {
                            <div class="col-xs-6 YoutubeVideo smallVid" >
                                <iframe src="@youtubeURL" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="col-xs-6 UploadVideo smallVid">
                                <video controls>
                                    <source src="~/mp4/@MP4Link" type="video/mp4">
                                    <!--<source src="Video.ogg" type="video/ogg">-->
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        }
                        else
                        {
                            <div class="col-xs-12 YoutubeVideo wideVid">
                                <iframe src="@youtubeURL" frameborder="0" allowfullscreen></iframe>
                            </div>
                        }
                    }
                    else
                    {
                        if (MP4Link != "" && MP4Link != "NULL" && MP4Link != null)
                        {
                            <div class="col-xs-12 UploadVideo wideVid">
                                <video controls>
                                    <source src="~/mp4/@MP4Link" type="video/mp4">
                                    <!--<source src="Video.ogg" type="video/ogg">-->
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/js/HomeTestScript.js"></script>