@model WebDevProject.Models.MultipleChoiceViewModel
<div class="container-fluid mainBody">

    <!-- Main display area. -->

    <div class="row">

        <!-- Left menu and pane. -->

        <div class="col-3 scrollable-menu leftPane listPane">
            <ul>
                @foreach (var item in Model.questionList)
                {
                    @if (item.isMultipleChoice)
                    {
                        <li><a href="/Home/MultipleChoiceView/@item.Id/@item.TopicId"><button class="btn-block text-left">Question @item.questionOrder</button></a></li>
                    }
                    else
                    {
                        <li><a href="/Home/CodeQuestionView/@item.Id/@item.TopicId"><button class="btn-block text-left">Question @item.questionOrder</button></a></li>
                    }
                }
            </ul>
        </div>

        <div class="col-9 scrollable-menu rightPane" style="padding-top: 20px">
            <h3>@Html.DisplayFor(model => model.theQuestion.questionString)</h3>
            <div class="radio">
                <label><input type="radio" name="optradio">@Html.DisplayFor(model => model.theQuestion.multipleChoice1)</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio">@Html.DisplayFor(model => model.theQuestion.multipleChoice2)</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio">@Html.DisplayFor(model => model.theQuestion.multipleChoice3)</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio">@Html.DisplayFor(model => model.theQuestion.multipleChoice4)</label>
            </div>
            <button type="button" class="btn btn-success submitButton">Submit</button>
            @{ bool isEndOfList = false;}
            @if (Model.theQuestion.questionOrder < Model.orderListLength)
            {
                isEndOfList = false;
                <button type="button" class="btn btn-success" id="nextButton">Next</button>
            }
            else
            {
                isEndOfList = true;
                <button type="button" class="btn btn-success" id="finishButton">Finish</button>
            }
        </div>
    </div>
</div>

@{ string nextURL = "";}
@{
    if (!isEndOfList)
    {
        if (Model.questionList[Model.theQuestion.questionOrder + 1].isMultipleChoice)
        {
            nextURL = "/Home/MultipleChoiceView/" + Model.questionList[Model.theQuestion.questionOrder + 1].Id + "/" + Model.theQuestion.TopicId;
        }
        else
        {
            nextURL = "/Home/CodeQuestionView/" + Model.questionList[Model.theQuestion.questionOrder + 1].Id + "/" + Model.theQuestion.TopicId;
        }
    }
}
@{ string finishURL = "/Home/TopicView/" + Model.theQuestion.TopicId;}

<script type="text/javascript">
    $(document).ready(function () {

            $("#finishButton").click(function () {
                window.location.href = "@finishURL";
            });

            $("#nextButton").click(function () {
                window.location.href = "@nextURL";
            });
        });
</script>