@model WebDevProject.Models.MultipleChoiceViewModel
<div class="container mainBody">
    <div class="row">
        <div class="col-6 scrollable-menu questionPane">
            <div class="jumbotron">
                <p>@Html.DisplayFor(model => model.theQuestion.lectureText)</p>
            </div>
        </div>
        <div class="col-6 jumbotron multChoicePane">
            <h3>@Html.DisplayFor(model => model.theQuestion.questionString)</h3>
            <div class="radio">
                <label><input type="radio" name="optradio">@Html.DisplayFor(model => model.theQuestion.multipleChoice1)</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio">@Html.DisplayFor(model => model.theQuestion.multipleChoice2)</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio">@Html.DisplayFor(model => model.theQuestion.multipleChoice3)</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio">@Html.DisplayFor(model => model.theQuestion.multipleChoice4)</label>
            </div>
            <button type="button" class="btn btn-success submitButton">Submit</button>
        </div>
    </div>
</div>