@model WebDevProject.Models.MultipleChoiceViewModel
<div class="container mainBody">
    <div class="row">
        <div class="col-6 scrollable-menu questionPane">
            <div class="jumbotron">
                <p>@Html.DisplayFor(model => model.theQuestion.lectureText)</p>
            </div>
        </div>
        <div class="col-6 jumbotron multChoicePane">
            <h3>@Html.DisplayFor(model => model.theQuestion.questionString)</h3>
            <div class="radio">
                <label><input type="radio" name="optradio">@Html.DisplayFor(model => model.theQuestion.multipleChoice1)</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio">@Html.DisplayFor(model => model.theQuestion.multipleChoice2)</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio">@Html.DisplayFor(model => model.theQuestion.multipleChoice3)</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio">@Html.DisplayFor(model => model.theQuestion.multipleChoice4)</label>
            </div>
            <button type="button" class="btn btn-success submitButton">Submit</button>
        </div>
    </div>
</div>
<!-- All this shit is for bootstrap and jquery and popper? I don't know what popper is but it was included in the Bootstrap tutorial.  -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<script type="text/javascript" src="HomeTestScript.js"></script>