@model WebDevProject.Models.TopicViewModel
<!-- This container div holds the whole page. -->
<div class="container mainBody">
    <!-- The row div holds the left and right pane, which is a majority of the page. -->
    <div class="row">

        <!-- The leftpane holds the list/buttons. The col-4 defines it as 4 panels wide in bootstrap, the scrollable-menu lets the CSS define it as a scrolling element, and the leftPane lets the CSS customize it specifically. -->
        <div class="col-2 scrollable-menu leftPane listPane">
            <div>
                <!--  Right now all the list items are just text, but we should be able to replace them with the button things. -->
                @{ var topicId = Html.DisplayFor(model => model.theTopic.Id);}
                @foreach (var item in Model.Questions)
                {
                    @if (item.isMultipleChoice)
                    {
                        <a href="/Home/MultipleChoiceView/@item.Id/@topicId">Question @item.questionOrder</a>
                        <br />
                    }
                    else
                    {
                        <a href="/Home/CodeQuestionView/@item.Id/@topicId">Question @item.questionOrder</a>
                        <br />
                    }
                }
            </div>
            <input type="image" src="~/img/PlusButton.png" data-toggle="modal" data-target="#AddItemModal" style="max-width:100%; height:auto;" id="addButton teacher" />

        </div>

        <!-- The rightPane holds all instructor material. Later it can also be covered up by expanding lists, which I haven't made. col-8 defines it as 8 pandels wide in bootstrap, scrollable-menu let's CSS apply scrolling to it, and rightPane allows CSS to customize it specifically. -->
        <div class="col-8 scrollable-menu rightPane">

            <!-- This place can be filled with teacher supplied text. We should probably still sanitize this input somehow. -->
            <textarea id="textEditor">@Model.theTopic.lectureText</textarea>

            <div class="row" id="teacher">
                <div class="btn-group col-sm-12" role="group">
                    <input id="saveLecture" type="button" class="btn-sm btn-success" style="float:right;" value="Save" onclick="saveLecture()">
                    <input name="editLectureButton" id="editLecture" type="button" class="btn-sm btn-primary" style="float:right;" value="Edit" onclick="teacherModeToggle()">
                </div>
            </div>

            <!--This form is hidden and sends the updated lecture text to the controller. It is triggered by the save button above.-->
            <form method="post" name="editLecture" asp-controller="TopicEditLecture" asp-action="Index">
                <input type="hidden" name="lectureText" />
                <input type="hidden" name="Id" value="@Model.theTopic.Id" />
            </form>

            @{ string youtubeURL = Model.theTopic.videoURL;}
            @{ string MP4Link = Model.theTopic.MP4Link;}

            <div class="row">
                @if (youtubeURL != "" && youtubeURL != "NULL" && youtubeURL != null)
                {
                    if (MP4Link != "" && MP4Link != "NULL" && MP4Link != null)
                    {
                        <div class="col-xs-6 YoutubeVideo smallVid">
                            <iframe src="@youtubeURL" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="col-xs-6 UploadVideo smallVid">
                            <video controls>
                                <source src="~/mp4/@MP4Link" type="video/mp4">
                                <!--<source src="Video.ogg" type="video/ogg">-->
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-12 YoutubeVideo wideVid">
                            <iframe src="@youtubeURL" frameborder="0" allowfullscreen></iframe>
                        </div>
                    }
                }
                else
                {
                    if (MP4Link != "" && MP4Link != "NULL" && MP4Link != null)
                    {
                        <div class="col-xs-12 UploadVideo wideVid">
                            <video controls>
                                <source src="~/mp4/@MP4Link" type="video/mp4">
                                <!--<source src="Video.ogg" type="video/ogg">-->
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    }
                }
            </div>

            <div class="row" id="teacher">
                <div class="col-xs-6">
                    <input type="image" src="~/img/PlusButton.png" data-toggle="modal" data-target="#EditYoutubeModal" style="max-width:100%; height:auto;" id="addButton teacher" />
                </div>
                <div class="col-xs-6">
                    <input type="image" src="~/img/PlusButton.png" data-toggle="modal" data-target="#EditMP4Modal" style="max-width:100%; height:auto;" id="addButton teacher" />

                </div>
            </div>

        </div>
        <div class="col-2 listPane scrollable-menu referencePane">
            <div>
                @foreach (var item in Model.referenceList)
                {
                    <a href="@item.Link">@item.Text</a>
                    <br />
                }
                <input type="image" src="~/img/PlusButton.png" data-toggle="modal" data-target="#AddReferenceModal" style="max-width:100%; height:auto;" id="addButton teacher" />
            </div>
        </div>
    </div>
</div>



<!--Modal for adding a new Question-->
<div class="modal fade" id="AddItemModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog" style="transform: translate(0, 0%);">
        <div class="modal-content">
            <div class="modal-header" style="display:block">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Create</h5>
            </div>

            <div class="modal-body">
                <!-- The form is placed inside the body of modal -->
                @using (Html.BeginForm("TopicAddQuestion", "Home", new { Id = Model.theTopic.Id }, FormMethod.Post))
                {
                    <form id="createForm" class="form-horizontal">

                        <label for="questionSelect">Question Type:</label>
                        <div class="row form-group">
                            <select class="form-control" id="questionSelect" style="height:auto" name="QuestionType">
                                <option value="" selected disabled>Please select an option...</option>
                                <option value="Multiple Choice">Multiple Choice</option>
                                <option value="Coding">Coding</option>
                            </select>
                        </div>

                        <label for="questionTextArea">Question:</label>
                        <div class="row form-group">
                            <div class="col-xs-12">
                                <textarea class="form-control" id="questionTextArea" rows="3" name="QuestionString"></textarea>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-xs-5 col-xs-offset-3">
                                <input type="submit" class="btn btn-primary" value="Create">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

<!--Modal for adding a new Reference-->
<div class="modal fade" id="AddReferenceModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog" style="transform: translate(0, 0%);">
        <div class="modal-content">
            <div class="modal-header" style="display:block">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Create</h5>
            </div>

            <div class="modal-body">
                <!-- The form is placed inside the body of modal -->
                @using (Html.BeginForm("TopicAddReference", "Home", new { Id = Model.theTopic.Id }, FormMethod.Post))
                {
                    <form id="createForm" class="form-horizontal">
                        <div class="row form-group">
                            <label class="col-xs-3 control-label">Link:</label>
                            <div class="col-xs-5">
                                <input type="text" class="form-control" name="Link" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="col-xs-3 control-label">Text:</label>
                            <div class="col-xs-5">
                                <input type="text" class="form-control" name="Text" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-xs-5 col-xs-offset-3">
                                <input type="submit" class="btn btn-primary" value="Create">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

<!--Modal for editing Youtube Link-->
<div class="modal fade" id="EditYoutubeModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog" style="transform: translate(0, 0%);">
        <div class="modal-content">
            <div class="modal-header" style="display:block">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Edit</h5>
            </div>

            <div class="modal-body">
                <!-- The form is placed inside the body of modal -->
                @using (Html.BeginForm("TopicEditYoutube", "Home", new { Id = Model.theTopic.Id }, FormMethod.Post))
                {
                    <form id="createForm" class="form-horizontal">
                        <div class="row form-group">
                            <label class="col-xs-3 control-label">Embedded Link:</label>
                            <div class="col-xs-5">
                                <input type="text" class="form-control" name="Link" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-xs-5 col-xs-offset-3">
                                <input type="submit" class="btn btn-primary" value="Save">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

<!--Modal for editing MP4 Link-->
<div class="modal fade" id="EditMP4Modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog" style="transform: translate(0, 0%);">
        <div class="modal-content">
            <div class="modal-header" style="display:block">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Edit</h5>
            </div>

            <div class="modal-body">
                <!-- The form is placed inside the body of modal -->
                <form id="createForm" class="form-horizontal" method="post" enctype="multipart/form-data" asp-controller="TopicUploadFile" asp-action="Index">
                    <div class="row form-group">
                        <label class="col-xs-3 control-label">MP4 Link:</label>
                        <div class="col-xs-5">
                            <input type="file" name="file" accept=".mp4" />
                            <input type="hidden" name="Id" readonly value="@Model.theTopic.Id">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-xs-5 col-xs-offset-3">
                            <input type="submit" class="btn btn-primary" value="Save">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="~/lib/simplemde/dist/simplemde.min.js" type="text/javascript"></script>
<script>
    const lectureArea = new SimpleMDE({
        element: document.getElementById("textEditor"),
        status: false,
    });

    lectureArea.togglePreview();
    $(".rightPane").find(".editor-toolbar").css("display", "none");

    function teacherModeToggle() {
        lectureArea.togglePreview();
        $(".rightPane").find(".editor-toolbar").css("display", "block");
        $(".rightPane").find(".editor-toolbar.disabled-for-preview").css("display", "none");
    }

    function saveLecture() {
        $('input[name="lectureText"]').val(lectureArea.value());
        document.editLecture.submit();
    }
</script>